#everything {
    -fx-background-color: antiquewhite;
}

.scrollpane {
    -fx-fit-to-width: true;
}

.monospaced {
    -fx-font-family: monospace;
}

.highlighted {
    -fx-font-weight: bold
}

.tiles {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}